@using Microsoft.Extensions.Options;
@using YatriiWorld.DAL;
@using YatriiWorld.ViewModels;
@inject IOptions<StripeSettings> Stripe
@model BookingVM
<!-- BreadCrumb Starts -->
<section class="breadcrumb-main pb-0" style="background-image: url(images/bg/bg8.jpg);">
    <div class="breadcrumb-outer pt-10">
        <div class="container">
            <div class="breadcrumb-content d-md-flex align-items-center pt-10">
                <h2 class="mb-0">Booking</h2>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Booking</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</section>
<!-- BreadCrumb Ends -->
<!-- blog starts -->
<section class="blog trending destination-b pb-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-xs-12 mb-4">
                <div class="payment-book">
                    <div class="booking-box">
                        <div class="customer-information mb-2">
                            <h3 class="border-b pb-2 mb-2">Traveller Information</h3>
                            <form class="mb-2" method="post" >
                                <h5>Travller 1</h5>
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Title</label>
                                            <div class="input-box">
                                                <select class="niceSelect">
                                                    <option value="0">Select</option>
                                                    <option value="1">Mr.</option>
                                                    <option value="2">Mrs.</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label asp-for ="@Model.FirstName">First Name</label>
                                            <input asp-for="@Model.FirstName" placeholder="First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label asp-for="@Model.LastName">Last Name</label>
                                            <input asp-for="@Model.LastName" placeholder="Last Name">
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-4 col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.DOB">DOB</label>
                                            <div class="input-box">
                                                <input asp-for="@Model.DOB" type="date" placeholder="YY-MM-DD">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Email">Email</label>
                                            <input asp-for="@Model.Email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.Phone">Phone</label>
                                            <input asp-for="@Model.Phone" placeholder="Phone No.">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="@Model.PeopleCount">Traveller count</label>
                                            <input asp-for="@Model.PeopleCount" placeholder="Traveller count">
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="text-danger" asp-validation-summary="All"></div>
                                <script src="//checkout.stripe.com/v2/checkout.js"
                                        class="stripe-button"
                                        data-key="@Stripe.Value.Publishablekey"
                                        data-amount="@ViewBag.Total"
                                        data-name="[Deveducate]"
                                        data-locale="en"
                                        data-discription="Sample charge"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                                        data-zip-code="true">
                                </script>
                            </form>
                            
                        </div>
                      
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- blog Ends -->

@*<script>
    let btn=document.querySelector(".book-tour")
    btn.addEventListener("click",function(e){
        e.preventDefault()

        $.ajax({
            type: "GET",
            url: this.href,
        }).done(data=>{
            $("#booked-tour").html("")
            data.foreach(item=>{
                $("#booked-tour").append(` <tbody>
                                        <tr>
                                            <td> Price</td>
                                            <td class="pink">$580.00</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Travellers</td>
                                            <td class="pink">${item.peoplecount}</td>
                                        </tr>
                                        <tr>
                                            <td>Infant Price</td>
                                            <td class="pink">$0.00</td>
                                        </tr>
                                        <tr>
                                            <td>Subtotal</td>
                                            <td class="pink">$580.00</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td class="pink">$580.00</td>
                                        </tr>
                                        <tr>
                                            <td>Tax & fee</td>
                                            <td class="pink">0</td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="bg-pink">
                                        <tr>
                                            <th class="font-weight-bold white">Amount</th>
                                            <th class="font-weight-bold white">$</th>
                                        </tr>
                                    </tfoot>`)
            })

        })
    }

</script>*@
